# Entornos Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datos reales o sensibles
data/raw/*
data/processed/*
*.xlsx
*.xls
*.csv
*.parquet

# Excepción: permitir README dentro de carpetas data
!data/raw/README.md
!data/processed/README.md
!data/synthetic/README.md

# Salidas pesadas o regenerables
outputs/
reports/*.xlsx

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/